* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAV style */

nav {
  display: flex;
  padding: 0.5rem;
  position: sticky;
  top: 15px;
  margin: auto;
}

nav ul {
  display: flex;
  margin-left: auto;
  align-items: center;
  list-style: none;
}

nav li {
  padding-right: 0.5rem;
}

nav a {
  text-decoration: none;
}

/* Main Style */

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

section img {
  width: 100%;
  padding-bottom: 1rem;
}

.about-me {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.ipad-width {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  margin: 0.5rem;
}

.button {
  margin: 1rem;
  padding: 0.5rem;
  border: 3px solid black;
  text-decoration: none;
  color: black;
  border-radius: 10%;
  width: fit-content;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo div {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 760px) and (max-width: 1079px) {
  .project {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
  }

  .ipad-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: center; */
  }

  .project-img {
    display: flex;
    flex: 1;
    width: 66%;
    order: 2;
    padding: 1rem;
  }

  .ipad-width {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }
}

@media only screen and (min-width: 1080px) {
  .project {
    flex: 1;
  }
  main {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: center; */
    margin: auto;
  }

  header {
    width: 70vw;
    margin: auto;
  }

  /* main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  } */

  .about-me {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    width: 100%;
  }

  main div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
