@import url("https://fonts.google.com/specimen/Oswald");
@import url("https://fonts.google.com/specimen/Source+Sans+Pro");
@import url("https://fonts.google.com/specimen/Fredoka+One");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* VARIABLES */

:root {
  --green: #49ad94;
  --gray: #f0f0f0;
  --clay-gray: #c5c5c5;
  --dark-gray: #656565;
  --magenta: #ad445b;
  --light-blue: #a2d9ff;
  --barlow-font: "Barlow", sans-serif;
}

/* GLOBAL STYLES */

h1,
h2 {
  margin: 0.5rem;
  font-family: var(--barlow-font);
  font-weight: 900;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p,
a,
label {
  font-family: var(--barlow-font);
}

body {
  background-color: var(--gray);
}

.button {
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  border-radius: 15%;
  width: fit-content;
  text-align: center;
}

.git-button-container {
  margin-top: auto;
  padding: 1rem 0;
  text-align: center;
}

.git-button {
  color: black;
}

ul {
  list-style: none;
}

/* NAV STYLES */

nav {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--dark-gray);
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: auto;
}

#nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-weight: 600;
}

nav li:hover {
  background-color: var(--clay-gray);
}

nav a:active {
  background-color: var(--clay-gray);
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
}

/* FOOTER STYLES */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-gray);
  color: white;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  color: white;
  padding-bottom: 0.5rem;
}

.logo-container a {
  color: white;
}

/* MAIN STYLES */

section img {
  width: 100%;
  padding-bottom: 1rem;
}

.about-me {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: var(--light-blue);
}

.about-me img {
  width: 20%;
  border-radius: 50%;
}

.project-columns,
.two-columns,
.blog-rows,
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

.project-columns:nth-child(even) {
  background-color: var(--light-blue);
}

.two-columns:nth-child(4n-3),
.two-columns:nth-child(4n-2) {
  background-color: var(--light-blue);
}

.project-container ul li:nth-child(even) {
  background-color: var(--light-blue);
}

.tablet-aside {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stack-logo {
  display: flex;
  background-color: orange;
  border-radius: 10%;
  margin: 0.5rem;
  padding: 1rem;
}

.fa-brands {
  padding: 0 0.5rem;
}

/* FORM PAGE STYLES */

form {
  width: 50%;
}

label {
  padding: 1rem 0;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  height: 20vh;
}

/* MOBILE NAV STYLE */

@media only screen and (max-width: 480px) {
  nav {
    justify-content: center;
  }

  nav ul {
    flex-wrap: wrap;
    margin: auto;
  }
}

/* TABLET STYLES */

@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .tablet-container {
    display: flex;
    flex-direction: row;
  }

  .project-img {
    display: flex;
    flex: 1;
    width: 40%;
    padding: 1rem;
  }

  .tablet-aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 2;
    padding: 1rem;
  }

  .blog-rows .tablet-aside {
    align-items: flex-start;
  }
}

/* DESKTOP STYLES */

@media only screen and (min-width: 1024px) {
  body {
    width: 70vw;
    margin: auto;
  }

  .project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project-columns {
    flex: 1;
  }

  .project-columns:nth-child(even) {
    background-color: var(--clay-gray);
  }

  /* Project page */

  .two-columns {
    width: 50%;
  }

  /* Blog page */

  .blog-rows {
    align-items: flex-start;
  }

  .blog-rows .tablet-aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 2;
    padding: 1rem;
  }

  .blog-rows .tablet-container {
    display: flex;
    flex-direction: row;
  }

  .blog-rows .project-img {
    display: flex;
    flex: 1;
    width: 40%;
    padding: 1rem;
  }

  .blog-rows .tablet-aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 2;
    padding: 1rem;
  }
}
